<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    img {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar ul {
        list-style: none;
    }
    .navbar li {
        display:inline-block;
    }
</style>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/calendar"><img src="/img/calendar-icon.svg" alt=""></a></li>
            <li><a href="/notes"><img src="/img/notes-icon.svg" alt=""></a></li>
            <li><a href="/todo"><img src="/img/todo-icon.svg" alt=""></a></li>
            <li><a href="/folder"><img src="/img/folder-icon.svg" alt=""></a></li>
        </ul>
    </nav>   
</body>
</html>