<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial;
    }
    .navbar {
        background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    }
    .navbar ul {
        list-style: none;
        background: #b9b8b9;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .navbar li {
      display: inline-block;
    }
    .navbar a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        width: 100px;
        display: block;
        padding: 25px 20px;
        font-size: 15px;
        text-align: center;
    }
    .navbar a:hover {
        background: #EB5DFF;
    }
    .topbar {
        width: 10%;
    }
</style>
</head>
<body>
    <div class="topbar">
        <img src="/img/back-arrow.svg" alt="">
        <img src="/img/top-bar.svg" alt="">
    </div>
    <div class="navbar">
        <ul>
            <li><a href="#">Calendar</a></li>
            <li><a href="/note">Notes</a></li>
            <li><a href="#">To-do</a></li>
            <li><a href="#">Files</a></li>
        </ul>
    </div>
</body>
</html>