<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .arrow {
    display: inline;
}
.profile {
    display: inline;
    position: absolute;
    right: 0%;
}
.top-bar img {
    height: 150px;
    width: 150px;
}
@media screen and (max-width:1200px) {
    .top-bar img {
        height: 100px;
        width: 100px;
    }
}
@media screen and (max-width:900px) {
    .top-bar img {
        height: 75px;
        width: 75px;
    }
}
@media screen and (max-width:600px) {
    .top-bar img {
        height: 50px;
        width: 50px;
    }
}
/**/
body {
margin: 0 0 55px 0;
}

.nav {
position: fixed;
bottom: 0;
width: 100%;
height: 75px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
background-color: #ffffff;
display: flex;
overflow-x: auto;
}

.nav__link {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-grow: 1;
min-width: 50px;
overflow: hidden;
white-space: nowrap;
font-family: sans-serif;
font-size: 13px;
color: #444444;
text-decoration: none;
-webkit-tap-highlight-color: transparent;
transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
background-color: #eeeeee;
}

.nav__link--active {
color: #009578;
}

.nav__icon {
font-size: 18px;
}
.folder__icon {
height: 80px;
}
.nav__text {
font-weight: bold;
}
h3 {
text-align: center;
}
</style>
<body>
    <div class="top-bar">
        <img src="/img/arrow.svg" alt="" class="arrow">
        <img src="/img/Profile.svg" alt="" class="profile">
    </div>
    <div class="schedule">
        <h3>Your sche111dule</h3>
        <img src="/img/plus.svg" alt="">
    </div>
        <div class="todo">
            <h3>Your to-do list</h3>
            <img src="/img/plus.svg" alt="">
        </div>
        
        <nav class="nav">
            <a href="#" class="nav__link">
                <img src="/img/calendar.svg" alt="" class="nav__icon">
                <span class="nav__text">Calendar</span>
            </a>
            <a href="/note" class="nav__link">
                <img src="/img/notes.svg" alt="" class="nav__icon">
                <span class="nav__text">Note</span>
            </a>
            <a href="#" class="nav__link">
                <img src="/img/todo.svg" alt="" class="nav__icon">
                <span class="nav__text">To-do</span>
            </a>
            <a href="#" class="nav__link">
                <img src="/img/folder.svg" alt="" class="nav__icon folder__icon">
            </a>
        </nav>
</body>
</html>
