<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/logo.css">
    
    <title>Noti</title>
</head>
<body>
    <img src="/img/noti-logo.svg" alt="note-logo" class="logo" />
<% if (locals.isAuthenticated) { %>
    <h3 class="text-4xl mb-4">Welcome, <%= user.given_name %></h1>
    <a href="/profile" class"text-4xl mb-4"> <button class="profile">Profile</button></a>
    <a href="/dashboard" class="underline"> <button class="dashboard">Dashboard</button></a>

<% } else { %>
    <h3 class="h3">You are not logged in. </h3> <a href="/login"><button class="login"> Login</button></a>
<% } %>
</body>
</html>



