.logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
button.login {
    margin:0 auto;
    display:block;
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 10%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px;  
    color: #F8F3F9;
    background: #79F2C5;
}
a {
        text-decoration: none;

}